@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;1,300;1,400&family=Roboto:wght@300;500;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 2rem;
  background: #333;
  color: #fafafa;
}

button {
  cursor: pointer;
  font-family: inherit;
  padding: 1rem;
  margin-bottom: 1rem;
}
